<?xml version="1.0"?>
<launch>
  <node name="tucker" pkg="baxter_tools" type="tuck_arms.py" args="-u" output="screen"/>
  <node name="jtas"   pkg="baxter_interface" type="joint_trajectory_action_server.py" output="screen"/>
  <node name="pcd_processor" pkg="pcd_processor" type="process_server" output="screen"/>
  <node name="pcd_cloud_saver" pkg="pcd_processor" type="save_server" output="screen"/>
  <node name="gripper" pkg="baxter_gripper_srv" type="baxter_gripper_server" output="screen" />
</launch>
