>>> begin
>>> begin
X   :(side)
Y   :(elongated)
ML Y:(elongated)
A   :(ainter)
R   :-18.75
X   :(inter)
Y   :(standard)
ML Y:(standard)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(mushroom)
ML Y:(mushroom)
A   :(ainter)
R   :-23.75
X   :(inter)
Y   :(standard)
ML Y:(standard)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(elongated)
ML Y:(mushroom)
A   :(ainter)
R   :-18.75
X   :(inter)
Y   :(livarno)
ML Y:(elongated)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(standard)
ML Y:(standard)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(livarno)
ML Y:(elongated)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(standard)
ML Y:(standard)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(elongated)
ML Y:(mushroom)
A   :(ainter)
R   :-18.75
>>> begin
X   :(side)
Y   :(elongated)
ML Y:(elongated)
A   :(ainter)
R   :-18.75
X   :(inter)
Y   :(elongated)
ML Y:(mushroom)
A   :(ainter)
R   :-18.75
X   :(inter)
Y   :(standard)
ML Y:(standard)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(livarno)
ML Y:(livarno)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(elongated)
ML Y:(elongated)
A   :(ainter)
R   :-18.75
X   :(inter)
Y   :(standard)
ML Y:(standard)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(elongated)
ML Y:(mushroom)
A   :(ainter)
R   :-18.75
X   :(inter)
Y   :(standard)
ML Y:(standard)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(elongated)
ML Y:(mushroom)
A   :(ainter)
R   :-18.75
X   :(inter)
Y   :(standard)
ML Y:(standard)
A   :(ainter)
R   :-21.25
