<?xml version="1.0" encoding="ISO-8859-1"?>
<Policy version="0.1" type="value" model="../examples/POMDP/Tiger.pomdp" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="policyx.xsd">
<AlphaVector vectorLength="2" numObsValue="1" numVectors="5">
<Vector action="1" obsValue="0">-81.5975 28.4025 </Vector>
<Vector action="0" obsValue="0">3.01448 24.6954 </Vector>
<Vector action="0" obsValue="0">24.6954 3.01452 </Vector>
<Vector action="2" obsValue="0">28.4025 -81.5975 </Vector>
<Vector action="0" obsValue="0">19.3711 19.3711 </Vector>
</AlphaVector> </Policy>
>>> begin
Y   :(tiger-left)
ML Y:(tiger-left)
A   :(listen)
R   :-1
Y   :(tiger-left)
ML Y:(tiger-left)
A   :(listen)
R   :-1
Y   :(tiger-left)
ML Y:(tiger-left)
A   :(open-right)
R   :10
Y   :(tiger-right)
ML Y:(tiger-left)
A   :(listen)
R   :-1
Y   :(tiger-right)
ML Y:(tiger-right)
A   :(listen)
R   :-1
Y   :(tiger-right)
ML Y:(tiger-right)
A   :(open-left)
R   :10
Y   :(tiger-right)
ML Y:(tiger-left)
A   :(listen)
R   :-1
Y   :(tiger-right)
ML Y:(tiger-right)
A   :(listen)
R   :-1
Y   :(tiger-right)
ML Y:(tiger-right)
A   :(open-left)
R   :10
Y   :(tiger-right)
ML Y:(tiger-left)
A   :(listen)
R   :-1
>>> begin
X   :(side)
Y   :(elongated)
ML Y:(elongated)
A   :(atop)
R   :-18.75
X   :(top)
Y   :(mushroom)
ML Y:(elongated)
A   :(atop)
R   :-23.75
X   :(top)
Y   :(elongated)
ML Y:(elongated)
A   :(aside)
R   :-18.75
X   :(side)
Y   :(elongated)
ML Y:(mushroom)
A   :(ainter)
R   :-18.75
X   :(inter)
Y   :(livarno)
ML Y:(livarno)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(standard)
ML Y:(livarno)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(standard)
ML Y:(standard)
A   :(atop)
R   :-21.25
X   :(top)
Y   :(mushroom)
ML Y:(mushroom)
A   :(atop)
R   :-23.75
X   :(top)
Y   :(elongated)
ML Y:(elongated)
A   :(aside)
R   :-18.75
X   :(side)
Y   :(mushroom)
ML Y:(mushroom)
A   :(ainter)
R   :-23.75
>>> begin
X   :(side)
Y   :(elongated)
ML Y:(elongated)
A   :(ainter)
R   :-18.75
X   :(inter)
Y   :(elongated)
ML Y:(mushroom)
A   :(ainter)
R   :-18.75
X   :(inter)
Y   :(livarno)
ML Y:(livarno)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(elongated)
ML Y:(elongated)
A   :(ainter)
R   :-18.75
X   :(inter)
Y   :(elongated)
ML Y:(livarno)
A   :(ainter)
R   :-18.75
X   :(inter)
Y   :(standard)
ML Y:(livarno)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(mushroom)
ML Y:(mushroom)
A   :(ainter)
R   :-23.75
X   :(inter)
Y   :(mushroom)
ML Y:(mushroom)
A   :(ainter)
R   :-23.75
X   :(inter)
Y   :(mushroom)
ML Y:(mushroom)
A   :(ainter)
R   :-23.75
X   :(inter)
Y   :(mushroom)
ML Y:(mushroom)
A   :(ainter)
R   :-23.75
>>> begin
X   :(side)
Y   :(elongated)
ML Y:(elongated)
A   :(aside)
R   :-18.75
X   :(side)
Y   :(elongated)
ML Y:(standard)
A   :(atop)
R   :-18.75
X   :(top)
Y   :(livarno)
ML Y:(mushroom)
A   :(atop)
R   :-21.25
X   :(top)
Y   :(standard)
ML Y:(elongated)
A   :(aside)
R   :-21.25
X   :(side)
Y   :(mushroom)
ML Y:(mushroom)
A   :(atop)
R   :-23.75
X   :(top)
Y   :(standard)
ML Y:(livarno)
A   :(aside)
R   :-21.25
X   :(side)
Y   :(standard)
ML Y:(mushroom)
A   :(atop)
R   :-21.25
X   :(top)
Y   :(livarno)
ML Y:(livarno)
A   :(aside)
R   :-21.25
X   :(side)
Y   :(livarno)
ML Y:(livarno)
A   :(aside)
R   :-21.25
X   :(side)
Y   :(livarno)
ML Y:(livarno)
A   :(aside)
R   :-21.25
>>> begin
X   :(side)
Y   :(elongated)
ML Y:(elongated)
A   :(aside)
R   :-18.75
X   :(side)
Y   :(standard)
ML Y:(standard)
A   :(atop)
R   :-21.25
X   :(top)
Y   :(mushroom)
ML Y:(mushroom)
A   :(atop)
R   :-23.75
X   :(top)
Y   :(standard)
ML Y:(livarno)
A   :(atop)
R   :-21.25
X   :(top)
Y   :(mushroom)
ML Y:(mushroom)
A   :(atop)
R   :-23.75
X   :(top)
Y   :(mushroom)
ML Y:(livarno)
A   :(atop)
R   :-23.75
X   :(top)
Y   :(standard)
ML Y:(livarno)
A   :(atop)
R   :-21.25
X   :(top)
Y   :(standard)
ML Y:(elongated)
A   :(aside)
R   :-21.25
X   :(side)
Y   :(standard)
ML Y:(mushroom)
A   :(atop)
R   :-21.25
X   :(top)
Y   :(elongated)
ML Y:(elongated)
A   :(atop)
R   :-18.75
>>> begin
X   :(side)
Y   :(elongated)
ML Y:(elongated)
A   :(ainter)
R   :-18.75
X   :(inter)
Y   :(elongated)
ML Y:(elongated)
A   :(ainter)
R   :-18.75
X   :(inter)
Y   :(standard)
ML Y:(standard)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(standard)
ML Y:(livarno)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(elongated)
ML Y:(livarno)
A   :(ainter)
R   :-18.75
X   :(inter)
Y   :(elongated)
ML Y:(elongated)
A   :(ainter)
R   :-18.75
X   :(inter)
Y   :(mushroom)
ML Y:(mushroom)
A   :(ainter)
R   :-23.75
X   :(inter)
Y   :(mushroom)
ML Y:(mushroom)
A   :(ainter)
R   :-23.75
X   :(inter)
Y   :(livarno)
ML Y:(mushroom)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(standard)
ML Y:(livarno)
A   :(ainter)
R   :-21.25
>>> begin
X   :(side)
Y   :(elongated)
ML Y:(elongated)
A   :(ainter)
R   :-18.75
X   :(inter)
Y   :(mushroom)
ML Y:(mushroom)
A   :(ainter)
R   :-23.75
X   :(inter)
Y   :(elongated)
ML Y:(mushroom)
A   :(ainter)
R   :-18.75
X   :(inter)
Y   :(livarno)
ML Y:(livarno)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(elongated)
ML Y:(livarno)
A   :(ainter)
R   :-18.75
X   :(inter)
Y   :(elongated)
ML Y:(mushroom)
A   :(ainter)
R   :-18.75
X   :(inter)
Y   :(livarno)
ML Y:(mushroom)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(elongated)
ML Y:(mushroom)
A   :(ainter)
R   :-18.75
X   :(inter)
Y   :(elongated)
ML Y:(mushroom)
A   :(ainter)
R   :-18.75
X   :(inter)
Y   :(standard)
ML Y:(standard)
A   :(ainter)
R   :-21.25
>>> begin
X   :(side)
Y   :(elongated)
ML Y:(elongated)
A   :(ainter)
R   :-18.75
X   :(inter)
Y   :(livarno)
ML Y:(mushroom)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(mushroom)
ML Y:(mushroom)
A   :(ainter)
R   :-23.75
X   :(inter)
Y   :(elongated)
ML Y:(livarno)
A   :(ainter)
R   :-18.75
X   :(inter)
Y   :(mushroom)
ML Y:(mushroom)
A   :(ainter)
R   :-23.75
X   :(inter)
Y   :(mushroom)
ML Y:(mushroom)
A   :(ainter)
R   :-23.75
X   :(inter)
Y   :(mushroom)
ML Y:(mushroom)
A   :(ainter)
R   :-23.75
X   :(inter)
Y   :(standard)
ML Y:(standard)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(mushroom)
ML Y:(mushroom)
A   :(ainter)
R   :-23.75
X   :(inter)
Y   :(standard)
ML Y:(standard)
A   :(ainter)
R   :-21.25
>>> begin
X   :(side)
Y   :(elongated)
ML Y:(elongated)
A   :(ainter)
R   :-18.75
X   :(inter)
Y   :(standard)
ML Y:(standard)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(elongated)
ML Y:(elongated)
A   :(ainter)
R   :-18.75
X   :(inter)
Y   :(elongated)
ML Y:(mushroom)
A   :(ainter)
R   :-18.75
X   :(inter)
Y   :(standard)
ML Y:(livarno)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(mushroom)
ML Y:(mushroom)
A   :(ainter)
R   :-23.75
X   :(inter)
Y   :(livarno)
ML Y:(livarno)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(livarno)
ML Y:(elongated)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(standard)
ML Y:(livarno)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(mushroom)
ML Y:(mushroom)
A   :(ainter)
R   :-23.75
>>> begin
X   :(side)
Y   :(elongated)
ML Y:(elongated)
A   :(atop)
R   :-18.75
X   :(top)
Y   :(standard)
ML Y:(livarno)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(livarno)
ML Y:(mushroom)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(standard)
ML Y:(standard)
A   :(atop)
R   :-21.25
X   :(top)
Y   :(livarno)
ML Y:(livarno)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(standard)
ML Y:(standard)
A   :(atop)
R   :-21.25
X   :(top)
Y   :(mushroom)
ML Y:(elongated)
A   :(ainter)
R   :-23.75
X   :(inter)
Y   :(elongated)
ML Y:(mushroom)
A   :(ainter)
R   :-18.75
X   :(inter)
Y   :(standard)
ML Y:(livarno)
A   :(ainter)
R   :-21.25
X   :(inter)
Y   :(elongated)
ML Y:(livarno)
A   :(ainter)
R   :-18.75
